
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Rails Girls</title>
    <meta name="description" content="Learn how web apps work at Ruby on Rails Workshop for Girls">
    <meta name="author" content="Rails Girls">
    <meta property="og:title" content="Rails Girls"/>
    <meta property="og:site_name" content="railsgirls.com"/>
    <meta property="og:image" content="http://railsgirls.com/images/railsgirls-sq.png"/>
    <meta property="og:description" content="Rails Girls aim is to give tools and a community for women to understand technology and to build their ideas."/>
    <link rel="shortcut icon" href="/favicon.png">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <!-- For reference: <link rel="stylesheet" href="http://railsgirls.com/css/style.css"> -->
    <script language="JavaScript" type="text/javascript" src="./assets/js/jquery.js"></script>
    <script type="text/javascript" src="main.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body>
  <header>
    <h1 id="banner"><strong>RailsGirls Santiago de Chile<strong></h1>
  </header>
  <div id="sign-up">
    <h1>¡Postúlate!</h1>
    <br/>
    <input type="text">
    <input type="text">
    <input type="text">
  </div>
</body>
</html>
